{{ define "DriverListSection "}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Drivers }}
                <tr id="driverId" hx-get="/results/last_five" hx-trigger="click" hx-vals='{"driverid": {{ .Driverid }} }'>
                    <th scope="row">{{ .Number }}</th>
                    <td>{{ .Forename }}</td>
                    <td>{{ .Surname }}</td>
                    <td>{{ .Code }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>